# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
*.env

# Virtual environments
.venv/
env/
venv/

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Cache
.cache/
*.sqlite3

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/

# Local files
*.db
